.copyright__bg {
    background-color: #313454;
}
.copyright {
    padding: 1.5rem 0;
    text-align: center;

    font-size: 1rem;
    font-weight: 400;
    color: #808080;
    font-family: 'Raleway', sans-serif;
}
.copyright__icon {
    fill: #e53845;

    width: 2rem;
    height: 2rem;
}

.copyright__autor {
    color: $white;
}
